*{
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    text-decoration: none;
    outline: none;
}
body{
    padding: 0;
    margin: 0;
   

}
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    border: 5px solid #000; 
  }

.div{
    margin-left: 710px;
    margin-top: 60px;
}
.reg{
    width: 500px;
    
    
}

.main{
    background-color: red;
    border: none;
    height: 50px;
    color: #fff;
    border-radius: 10px;
    width: 500px;
    font-size: 25px;
}
.regis{
    background-color: green;
    border: none;
}