{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас FREEWORK</title>
    <link rel="shortcut icon" href="/static/image/logo_f.jpg " type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/about.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>


      
    <div class="list">
        <header class="header">
    <div class="dropdown">
       
        <button class="dropbtn"><a href="/it">Разработка и IT </a></button>
        <div class="dropdown-content">
          <a href="/copy">Копия сайтов</a>
          <a href="#">Новый сайт</a>
          <a href="#">Верстка по макету</a>
        </div>
        
        </div>
        <div class="dropdown2">
        <button class="dropbtn2"><a href="/dizayn">Дизайн </a></button>
        <div class="dropdown-content2">
          <a href="#">Логотип</a>
          <a href="#">Визитка</a>
          <a href="#">Веб дизайн</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn3"><a href="index2.html">Соцсети</a></button>
            <div class="dropdown-content3">
              <a href="#">Instagram</a>
              <a href="#">YouTube</a>
              <a href="#">TikTok</a>
          </div>
        </div>
        <div class="dropdown4">
            <button class="dropbtn4"><a href="/action">Главное страница</a></button>
            <div class="dropdown-content4">
              <a href="/feedback">Служба поддержки</a>
              <a href="/about/">О нас</a>
              <a href="#">Политика конфиденциальности</a>
          </div>
            </div>
        <img style="width: 200px;margin-left: -50px;margin-top: 60px;position: absolute; "class="lf" src="/static/image/logo_f-removebg.png" alt="">

            <a href="/makeproject"><button class="create">Создать проект</button></a>
            <a href="/account"><button class="akk">Аккаунт</button></a>
        </header>
        <section class="section">
            <img class="logo" src="/static/image/logo_f.jpg" alt="">
            <article class="article">
                <h1 class="freework">FREEWORK фриланс магазин</h1>
                <p class="body2">Каждый из нас время от времени пользуется услугами фрилансеров. Мы делаем это, чтобы выполнить нужную работу быстро и хорошо. Создавая Freework, мы стремимся довести идею удобства и скорости фриланса до совершенства.</p>
                <p class="body3">Пока это фриланс магазин тут можно вставить проэкт и покупать. Но скоро мы у совершенствуем это до уровня  фриланс услуг. Тут есть очень много удобст нет: ограничений, запретов каждый может зарабатываеть свободно можно догадаться от имени платформы "Free"- свободно "work" работа. Я как разработчик желаю вам свободно заработать! </p>
            </article>
            <img class="freelans" src="/static/image/free.gif" alt="">
        </section>
    </div>
</body>
</html>