{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проэкты</title>
    <link rel="shortcut icon" href="/static/image/logo_f.jpg " type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/copy.css'%}">
</head>

<body>
  <style>
.download{
  background-color: transparent;
  color: black;
  position: absolute;
  margin-top: 220px;
  margin-left: -250px;
  font-size: 25px;
}
.image{
  width: 300px;
  margin-right: 70px;
  margin-top: -5px;
}

</style>
    <div class="list">
        <header class="header">
          
<div class="submenu">

    <div class="dropdown">
        <button class="dropbtn"><a href="/it">Разработка и IT </a></button>
        <div class="dropdown-content">
          <a href="/copy">Копия сайтов</a>
          <a href="/copy/">Новый сайт</a>
          <a href="/copy/">Верстка по макету</a>
        </div>
        
        </div>
        <div class="dropdown2">
        <button class="dropbtn2"><a href="/dizayn">Дизайн </a></button>
        <div class="dropdown-content2">
          <a href="/copy/">Логотип</a>
          <a href="/copy/">Визитка</a>
          <a href="/copy/">Веб дизайн</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn3"><a href="index2.html">Соцсети</a></button>
            <div class="dropdown-content3">
              <a href="#">Instagram</a>
              <a href="#">YouTube</a>
              <a href="#">TikTok</a>
          </div>
          
        </div>
        <div class="dropdown4">
            <button class="dropbtn4"><a href="/action">Главное страница</a></button>
            <div class="dropdown-content4">
              <a href="/feedback/">Служба поддержки</a>
              <a href="/about/">О нас</a>
              <a href="#">Политика конфиденциальности</a>
          </div>
            </div>
            <a href="/makeproject"><button class="create">Создать проэкт</button></a>
            <a href="/account"><button class="akk">Аккаунт</button></a>
        <img style="width: 200px;margin-left: -50px;margin-top: 60px;position: absolute;"class="lf" src="/static/image/logo_f-removebg.png" alt="">

        </div>
        </header>
      
          <div class="meta">
          {% for dbdata in dbdatalar %}
          <div class="block">
                <div class="main_info">
             
                  <img  class="image" src="/media/{{ dbdata.image }}" alt="">
                  <a class="download" href="" download="{{ dbdata.field_name }}">Download</a>
         
              
                </div>

              
                  </div>
                  
                  {% endfor %}
              </div>
              
    </div>     
    </div>
         
          
 
    
</body>
</html>