{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FREEWORK</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="/static/image/logo_f.jpg " type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="list">
         
        <header class="header">

            <h1 class="name">Введите что хотите заказать</h1>
            
        <div class="login">
            <a href="/Sign/"><button class="Sigh_in"> Войти</button></a>
            <a href="/register/"><button class="log_in">Регистрация</button></a>
            
        </div>
       
    <div class="dropdown">
        <button class="dropbtn"><a href="/index2/">Разработка и IT </a></button>
        <div class="dropdown-content">
          <a href="/register/">Копия сайтов</a>
          <a href="/register/">Новый сайт</a>
          <a href="/register/">Верстка по макету</a>
        </div>
        
        </div>
        <div class="dropdown2">
        <button class="dropbtn2"><a href="/index3/">Дизайн </a></button>
        <div class="dropdown-content2">
          <a href="#">Логотип</a>
          <a href="#">Визитка</a>
          <a href="#">Веб дизайн</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn3"><a href="index2.html">Соцсети</a></button>
            <div class="dropdown-content3">
              <a href="#">Instagram</a>
              <a href="#">YouTube</a>
              <a href="#">TikTok</a>
          </div>
        </div>
        <div class="dropdown4">
            <button class="dropbtn4"><a href="/">Главное страница</a></button>
            <div class="dropdown-content4">
              <a href="/Sign">Глобальный чат</a>
              <a href="/about/">О нас</a>
              <a href="#">Политика конфиденциальности</a>
          </div>
            </div>
            <img class="lf" src="/static/image/logo_f-removebg.png" alt="">
        </header>

		
	
        
            <div id="earth-col">
                <div style="width: 650px;height: 650px; display: block;" id="element" class="earth-js"></div>
            </div>
            
        
            

        

        <form method="POST" >
            {% csrf_token %}
        <input name="search" class="search" type="text" placeholder="Enter work">
        <button type="submit" class="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
        <main class="main">
            <h1 class="rubrika">Выбирите рубрику</h1>
            <div class="rubrika2">
                <a href="/index2"><button class="article"><img src="https://blog.oy-li.ru/wp-content/uploads/2021/05/semenov.jpg" alt=""><span class="span"> Разработка и IT</span></button></a>

                <a href="/index3"> <button class="article"><img src="https://ocean-agency.com.ua/storage/ckeditor/ckeditor/1607346763/prew_b/veb-dizain.jpg?t=1607372829" alt=""><span class="span"> Дизайн</span></button></a>
                
            </div>
        </main>



    </div>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
    </script> <!-- stats.js lib --> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="{% static 'js/main.js'  %}"></script>
    <script src="{% static 'js/countries.js' %}"></script>

    <script src="{% static 'js/miniature.earth.js' %}"></script>
</body>
</html>