{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дизайн: фриланс услуги</title>
    <link rel="shortcut icon" href="/static/image/logo_f.jpg " type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style3.css'%}">
</head>
<body>
    <div class="list">
        <header class="header">


            
        <div class="login">
            <button class="Sigh_in">Войти</button>
            <button class="log_in">Регистрация</button>
            
        </div>
<div class="submenu">

    <div class="dropdown">
        <button class="dropbtn"><a href="/index2/">Разработка и IT </a></button>
        <div class="dropdown-content">
          <a href="/register/">Копия сайтов</a>
          <a href="/register/">Новый сайт</a>
          <a href="/register/">Верстка по макету</a>
        </div>
        
        </div>
        <div class="dropdown2">
        <button class="dropbtn2"><a href="/index3/">Дизайн </a></button>
        <div class="dropdown-content2">
          <a href="/register/">Логотип</a>
          <a href="/register/">Визитка</a>
          <a href="/register/">Веб дизайн</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn3"><a href="index2.html">Соцсети</a></button>
            <div class="dropdown-content3">
              <a href="/register/">Instagram</a>
              <a href="/register/">YouTube</a>
              <a href="/register/">TikTok</a>
          </div>
        </div>
        <div class="dropdown4">
            <button class="dropbtn4"><a href="/">Главное страница</a></button>
            <div class="dropdown-content4">
              <a href="/feedback/">Служба поддержки</a>
              <a href="/about/">О нас</a>
              <a href="#">Политика конфиденциальности</a>
          </div>
            </div>
            <img style="width: 200px;margin-left: -50px;margin-top: 60px;position: absolute;"class="lf" src="/static/image/logo_f-removebg.png" alt="">
        </div>
        </header>
    
            <h1 class="title">Дизайн</h1>
            <aside class="aside">
                <ul class="ul">

                    <li class="li"><a href="/register/"> Логотипы</a></li>
                    <li class="li"><a href="/register/"> NFT art</a></li>
                    <li class="li"><a href="/register/">Шаблоны</a></li>
                    <li class="li"><a href="/register/">Веб-дизайн</a></li>
                    <li class="li"><a href="/register/">3D-дизайн</a></li>
                    <li class="li"><a href="/register/">Визитки</a></li>
                </ul>
                
            </aside>
      
            <div class="articles">
                <article >
                    <button class="type"><img class="type_img" src="{% static 'image/logo.jpg' %}" alt=""><span class="span">Логотипы</span></button>
                </article>
                <article>
                    <button class="type"><img class="type_img" src="{% static 'image/nft.jpg' %}" alt=""><span class="span">NFT</span></button>
                </article>
                <article >
                    <button class="type"><img class="type_img" src="{% static 'image/re.jpg' %}" alt=""><span class="span"> Шаблоны</span></button>
                </article>
                <article >
                    <button style="margin-left:10px;" class="type"><img width="480px"  class="type_img" src="{% static 'image/web.jpg' %}" alt=""><span class="span">Веб-дизайн</span></button>
                </article>
                <article>
                    <button  class="type"><img class="type_img" src="{% static 'image/3d.jpeg' %} " alt=""><span class="span">3D-дизайн</span></button>
                </article>
                <article >
                    <button style="margin-left: -15px;" class="type"><img class="type_img" src="{% static 'image/visit.jpg' %} " alt=""><span  class="span">Визитки</span></button>
                </article>
    
       
            </div>

    
   </div>     
    
</body>
</html>