{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разработка и IT: фриланс услуги</title>
    <link rel="shortcut icon" href="/static/image/logo_f.jpg " type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style2.css'%}">
</head>
<body>
    <div class="list">
        <header class="header">
            <h1 class="rework">FREEWORK</h1>
            <p class="free">Фриланс Услуги</p>

            
        <div class="login">
           <a href="/Sign/"> <button class="Sigh_in">Войти</button></a>
           <a href="/register/"> <button class="log_in">Регистрация</button></a>
            
        </div>
        <div class="submenu">
    <div class="dropdown">
        <button class="dropbtn"><a href="/index2/">Разработка и IT </a></button>
        <div class="dropdown-content">
          <a href="/register/">Копия сайтов</a>
          <a href="/register/">Новый сайт</a>
          <a href="/register/">Верстка по макету</a>
        </div>
        
        </div>
        <div class="dropdown2">
        <button class="dropbtn2"><a href="/index3/">Дизайн </a></button>
        <div class="dropdown-content2">
          <a href="/register/">Логотип</a>
          <a href="/register/">Визитка</a>
          <a href="/register/">Веб дизайн</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn3"><a href="index2.html">Соцсети</a></button>
            <div class="dropdown-content3">
              <a href="#">Instagram</a>
              <a href="#">YouTube</a>
              <a href="#">TikTok</a>
          </div>
        </div>
        <div class="dropdown4">
            <button class="dropbtn4"><a href="/">Главное страница</a></button>
            <div class="dropdown-content4">
              <a href="/feedback/">Служба поддержки</a>
              <a href="/about/">О нас</a>
              <a href="#">Политика конфиденциальности</a>
          </div>
            </div>
            <img style="width: 200px;margin-left: -50px;margin-top: 60px;position: absolute;"class="lf" src="/static/image/logo_f-removebg.png" alt="">
        </div>
        </header>
        <main class="main">
            <h1 class="title">Разработка и IT</h1>
            <aside class="aside">
                <ul class="ul">
                    <h2>Создание сайтов</h2>
                    <li class="li"><a href="/register/"> Новый сайтов</a></li>

                </ul>
                <ul class="ul">
                    <h2>Верстка</h2>
                    <li class="li"><a href="/register/"> Верстка по макету</a></li>
                    <li class="li"><a href="/register/">Доработка и адаптация верстки сайта</a></li>
                </ul>
                <ul class="ul">
                    <h2>Десктоп программирование</h2>
                    <li class="li"><a href="/register/">Макросы для Office</a></li>
                    <li class="li"><a href="/register/">Готовые программы</a></li>
                    <li class="li"><a href="/register/">Программы на заказ</a></li>
                </ul>
                <ul class="ul">
                    <h2>Скрипты и боты</h2>
                    <li class="li"><a href="/register/">Парсеры</a></li>
                    <li class="li"><a href="/register/">Чат-боты</a></li>
                    <li class="li"><a href="/register/">Скрипты</a></li>
                </ul>
                <ul class="ul">
                    <h2>Мобильные приложения</h2>
                    <li class="li"><a href="/register/">OIS</a></li>
                    <li class="li"><a href="/register/">Андероид</a></li>
                </ul>
                <ul class="ul">
                    <h2>Сервера и хостинг</h2>
                    <li class="li"><a href="/register/">Администрирование сервера</a></li>
                    <li class="li"><a href="/register/">Домены</a></li>
                    <li class="li"><a href="/register/">Хостинг</a></li>
                </ul>

            </aside>
            <div class="articles">
        <article class="article">
           <a href="/register/"> <button class="type"><img class="type_img" src="{% static 'image/copy.webp' %}" alt=""><span class="span">Копия сайтов</span></button></a>
        </article>
        <article class="article2">
           <a href="/register/"> <button class="type"><img class="type_img" src="http://pic4.photophoto.cn/20070911/0044041204551942_b.jpg" alt=""><span class="span">Верстка</span></button></a>
        </article>
        <article class="article3">
           <a href="/register/"> <button class="type"><img class="type_img" src="{% static 'image/new.webp' %}" alt=""><span class="span">Новый сайт</span></button></a>
        </article>
        <article class="article4">
          <a href="/register/"> <button class="type"><img class="type_img" src="{% static 'image/bot.jpg' %}" alt=""><span class="span">Чат-боты</span></button></a> 
        </article>
        <article class="article5">
           <a href="/register/"> <button class="type"><img class="type_img" src="{% static 'image/script.webp' %} " alt=""><span class="span">Скрипты</span></button></a>
        </article>
        <article class="article6">
           <a href="/register/"> <button class="type"><img style="height:270px ;" class="type_img" src="{% static 'image/parsing.webp' %} " alt=""><span class="span">Парсеры</span></button></a>
        </article>

        
    </div>
        </main>
    </div>
</body>
</html>