{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FREEWORK User</title>
    <link rel="stylesheet" href="/static/css/makeproject.css">
    <link rel="shortcut icon" href="/static/image/logo_f.jpg " type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/makeproject.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>

</style>
</head>
<body>

      
    <div class="list">
        <header class="header">
          <div class="dropdown">
              <button class="dropbtn"><a href="/it/">Разработка и IT </a></button>
              <div class="dropdown-content">
                <a href="/copy">Копия сайтов</a>
                <a href="/newpage">Новый сайт</a>
                <a href="#">Верстка по макету</a>
              </div>
              
              </div>
              <div class="dropdown2">
              <button class="dropbtn2"><a href="/dizayn/">Дизайн </a></button>
              <div class="dropdown-content2">
                <a href="#">Логотип</a>
                <a href="#">Визитка</a>
                <a href="#">Веб дизайн</a>
                  </div>
              </div>
              <div class="dropdown3">
                  <button class="dropbtn3"><a href="index2.html">Соцсети</a></button>
                  <div class="dropdown-content3">
                    <a href="#">Instagram</a>
                    <a href="#">YouTube</a>
                    <a href="#">TikTok</a>
                </div>
              </div>
              <div class="dropdown4">
                  <button class="dropbtn4"><a href="/action/">Главное страница</a></button>
                  <div class="dropdown-content4">
                    <a href="/feedback/">Служба подержки</a>
                    <a href="#">О нас</a>
                    <a href="#">Политика конфиденциальности</a>
                </div>
                  </div>
                  <img style="width: 200px;margin-left: -50px;margin-top: 60px;position: absolute;"class="lf" src="/static/image/logo_f-removebg.png" alt="">
              
        </header>
      <div class="system">
        <h1 class="make">Что бы создать проект</h1>
        <ul class="ul">

          <li class="li">1) Написать название вашего проэкта</li>
          <li class="li">2) Фото вашего проэкта </li>
          <li class="li">3) Описание</li>
          <li class="li">4) Цена</li>
        </ul>
        <a style="background-color:#fff; color:#000;"  href="https://mail.google.com/mail/u/0/#search/freeworkcompany24%40gmail.com"><button class="send2" style="margin-top:100px; font-size:25px; cursor:pointer; background-color:#fff;  padding:20px; border-radius:20px;"  >Отправить проэкт</button> </a>
      </div>  
      <img class="show" src="/static/image/2022-11-17_16-56-18.png" alt="">
    </div>


</body>
</html>
